tables td {
	word-wrap:break-word;
	white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
}

.module-addnew-btn {
	float: right;
}

.form-tables {
	clear: both;
}

.buttons {
	margin-right: 20px;
}

.sgroup-search-textbox {
	margin-right: 20px;
	width: 300px;
}

.radios + label,
.checkboxes + label {
	margin: 0 20px;
}

.privileges input + label {
	margin-left: 30px;
}

.cate-privilege {
	max-width: 300px;
	max-height: 130px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.check td {
	padding-left: 232px;
}