.tourgroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.tourgroup-sidebar > div {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 50px;
}

.tourgroup-sidebar > div h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #d01639;
    text-align: center;
}

.tourgroup-sidebar form label {
    margin-bottom: 5px;
    display: block;
}

.filter-textbox,
.filter-button {
    padding: 10px 20px;
    border: 1px solid #d01639;
    background-color: transparent;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin-bottom: 20px;
}

.filter-button {
    background-color: #d01639;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

.filter-button:hover {
    background-color: #8a0a21;
}

.xdsoft_datepicker * {
    font-size: 12px;
}

/*search list*/
.tourgroup-list .tourgroup-description h1 {
    font-family: 'Montserrat';
    font-size: 20px;
    color: #d01639;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.tourgroup-list .tourgroup-description p {
    font-size: 16px;
    line-height: 25px;
    color: #333;
    font-family: "Roboto";
    margin-bottom: 10px;
}

.tourgroup-list .the-tour {
    background-color: #f2f2f2;
    margin-top: 30px;
    padding-top: 20px;
}

.tourgroup-list .the-tour > h1 a {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    line-height: 30px;
    font-family: "Roboto";
    padding: 0 20px 0;
    box-sizing: border-box;
    display: block;
}

.tourgroup-list .the-tour > h1 a:hover {
    color: #d01639;
}

.tourgroup-list .the-tour > .tour-rating {
    padding: 10px 20px;
}

.tourgroup-list .the-tour > .tour-rating span {
    font-size: 12px;
    float: left;
    line-height: 18px;
    padding: 0;
    margin-right: 10px;
    letter-spacing: 1px;
}

.tourgroup-list .the-tour > .available {
    font-size: 16px;
    color: green;
    padding: 0 20px;
    font-weight: 600;
}

.tourgroup-list .the-tour > .tour-picture {
    font-size: 0;
    display: block;
    margin-top: 20px;
    line-height: 0;
}

.tourgroup-list .the-tour > .tour-button {
    margin-top: 20px;
}

.tourgroup-list .the-tour > .tour-button a {
    font-family: "Montserrat";
    color: #f2f2f2;
    background-color: #d01639;
    width: 100%;
    padding: 10px 0;
    display: block;
    text-align: center;
}

.tourgroup-list .the-tour > .tour-button a:hover {
    background-color: #8a0a21;
}

.tourgroup-pager ul {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.tourgroup-pager li {
    list-style: none;
    margin-right: 10px;
    display: inline-block;
}

.tourgroup-pager li a {
    color: #333;
    border: 1px solid #333;
    padding: 10px;
}

.tourgroup-pager li a:hover,
.tourgroup-pager li.active a {
    color: #f2f2f2;
    background-color: #d01639;
    border-color: #d01639;
}

.tourgroup-pager li:last-child {
    margin-right: 0;
}

@media only screen and (min-width: 768px) {
    .tourgroup {
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    .tourgroup-sidebar {
        margin-bottom: 0;
        flex: 3;
        margin-right: 20px;
    }

    .tourgroup-list {
        flex: 4;
    }

    .tourgroup-pager ul {
        justify-content: flex-end;
    }
}

@media only screen and (min-width: 1024px) {
    .tourgroup-list {
        flex: 6;
    }

    .tourgroup-list .the-tour {
        width: 49%;
        float: left;
        margin-right: 2%;
    }

    .tourgroup-list .the-tour:nth-child(2n + 3) {
        margin-right: 0;
    }
}

@media only screen and (min-width: 1366px) {
    .tourgroup-sidebar {
        flex: 2;
    }

    .tourgroup-list {
        flex: 6;
    }

    .tourgroup-list .the-tour {
        width: 32%;
    }

    .tourgroup-list .the-tour:nth-child(2n + 3) {
        margin-right: 2%;
    }

    .tourgroup-list .the-tour:nth-child(3n + 4) {
        margin-right: 0;
    }
}
