.tables td {
	word-wrap:break-word;
	white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
}

.module-addnew-btn {
	float: right;
}

.form-tables {
	clear: both;
}

.voucher-search-textbox {
	margin-right: 20px;
	width: 300px;
}

.buttons {
	margin-right: 20px;
}

.checkboxes + label {
	margin-right: 5px;
}

.type {
	display: none;
}

.checkboxes:checked + label + span + .type {
	display: block;
	margin-top: 10px;
}

.customer-selected {
	margin: 10px 0;
	border: 1px solid #dddddd;
	padding: 20px;
	border-radius: 10px;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.customer-selected span {
	padding: 10px;
	background-color: #f2f2f2;
	margin: 0 10px 10px 0;
	display: block;
	float: left;
	border-radius: 5px;
	color: #515151;
	font-size: 14px;
}

.child-table {
	width: 100%;
}

.generate-alert {
	font-size: 12px;
	color: #cd2600;
}

.child-table td:first-child {
	width: 200px;
}

.save-btn {
	float: right;
}

.voucher-discount-label,
.voucher-point-label {
	display: inline-block;
	padding: 5px;
	background: green;
	color: #fff;
	font-size: 12px;
	margin-right: 10px;
    margin-bottom: 10px;
}

.voucher-point-label {
	background: purple;
}

.voucher-time-label {
	font-size: 10px;
	background: #ddd;
	padding: 5px;
	text-align: center;
	position: absolute;
	top: 0;
	left: -10px;
	width: 220px;
	display: none;
}

.voucher-date-label {
	padding: 2px;
	border-bottom: 2px dashed #ddd;
}

.voucher-date-label:hover + .voucher-time-label {
	display: block;
}

.mini-buttons {
	margin-right: 10px;
}

.customer-selected span i {
	cursor: pointer;
	color: #e62e04;
}

.special-cell .inputs {
	width: 50%;
}

.special-cell .selects {
	width: 49%;
	margin-left: 1%;
}