.tables td:last-child {
	width: 10%;
}

.module-addnew-btn {
	float: right;
}

.form-tables {
	clear: both;
}

.customer-search-textbox {
	margin-right: 20px;
	width: 300px;
}

.buttons {
	margin-right: 20px;
}

.mini-buttons {
	margin-right: 5px;
	width: 30px;
}

.mini-buttons:last-child {
	margin-right: 0;
}

a {
	color: #08AFDD;
}

.saving,
.saving:hover {
	background: #888;
	color: #fff;
	cursor: default;
	-webkit-user-select: none;
	   -moz-user-select: none;	
		-ms-user-select: none;
			user-select: none;
}

.block {
	text-decoration: line-through;
	-webkit-user-select: none;
	   -moz-user-select: none;	
		-ms-user-select: none;
			user-select: none;
}

.radios + label {
	margin-left: 30px;
	margin-bottom: -3px;
}

.label + input {
	width: 150px !important;
	margin-right: 20px;
}

.filter-textbox {
	font-size: 14px;
}

.module-filter .selects {
	width: 200px;
    margin-left: 30px;
}