/**
 * Block tour giờ chót
=============================================================*/
.tour-group {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

.tour-group .group-title {
    margin-bottom: 30px;
}

.tour-group .group-title h1 {
    color: #d01639;
    font-size: 27px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    font-family: Montserrat;
}

.tour-group .group-title p {
    color: #333;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
}

.tour {
    margin-bottom: 30px;
    background-color: #f2f2f2;
}

.tour .tour-picture {
    position: relative;
    overflow: hidden;
}

.tour .tour-picture a img {
    width: 100%;
    height: 250px;
    transition: all 0.3s ease-in;
}

.tour:hover .tour-picture a img {
    transform: scale(1.2);
}

.tour .tour-picture a > span {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0 10px;
    font-size: 16px;
    background: rgba(255,255,255,0.8);
    color: #333;
    box-shadow: 1px 1px 2px rgba(87,87,87,.5);
    border-radius: 2px;
    font-weight: 600;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
}

.tour .tour-picture a > span > span {
    font-weight: 600;
}

.tour .tour-picture .tour-date {
    position: absolute;
    bottom: 0;
    padding-top: 81px;
    padding-bottom: 10px;
    background: linear-gradient(to bottom,rgba(0,0,0,.01),#6b6a68);
    width: 100%;
    color: #fff;
}

.tour .tour-picture .tour-date p{
    font-size: 16px;
    color: #f2f2f2;
    padding-left: 5%;
    padding-right: 5%;
}

.tour .tour-picture .tour-date p:nth-child(1){
    float: left;
}
.tour .tour-picture .tour-date p:nth-child(2){
    float: right;
}

.tour-meta p {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    color: #333;
    line-height: 25px;
    padding: 20px;
    text-align: justify;
    height: 100px;
    overflow: hidden;
}

.tour-meta span:nth-child(2){
    text-decoration: line-through;
    font-size: 16px;
    color: #333;
    margin-left: 20px;
}

.tour-meta span:nth-child(3){
    float: left;
    color: #d01639;
    font-weight: 500;
    font-size: 20px;
    margin-left: 20px;
}

.tour-button {
    margin-top: 20px;
    padding-bottom: 20px;
}

.tour-button h3,
.tour-button p {
    font-size: 14px;
    line-height: 25px;
    color: #333;
    padding: 0 20px;
    margin-bottom: 10px;
    text-align: justify;
}

.tour-button h3 {
    height: 50px;
    overflow: hidden;
}

.tour-button h3 img,
.tour-button p img {
    width: 14px;
}

.tour-button a {
    display: block;
    background-color: #d01639;
    color: #f2f2f2;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
    font-family: Montserrat;
}

.tour-button a:hover {
    background-color: #8a0a21;
}

@media only screen and (min-width: 768px) {
    .tour {
        float: left;
        width: 46%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media only screen and (min-width: 1024px) {
    .tour-group {
        margin-top: 50px;
        margin-left: 2%;
        margin-right: 2%;
    }
    .tour {
        margin-left: 2%;
        margin-right: 2%;
        width: 29%;
    }
}
@media only screen and (min-width: 1366px) {
    .tour-group {
        margin-left: 5%;
        margin-right: 5%;
    }

    .tour-button h3 {
        height: 50px;
    }
}

/**
 * Block địa danh nổi tiếng
==========================================================*/
.place {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.place:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: rgb(241,242,198,0.5);
    background: linear-gradient(90deg, rgba(241,242,198,0.5) 0%, rgba(249,218,218,0.5) 50%, rgba(225,255,253,0.5) 100%);
    transition: all 0.3s ease-out;
}

.place:hover:before {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
}

.place img {
    width: 100%;
    height: 250px;
}

.place h3,
.place p,
.place a {
    position: absolute;
}

.place h3 {
    top: 20px;
    left: 20px;
    font-size: 20px;
    font-weight: 600;
    font-family: Montserrat;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 50px;
    color: #333;
    text-shadow: 2px 2px 1px #f2f2f2;
}

.place p {
    top: 70px;
    left: 20px;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    line-height: 25px;
    color: #333;
    text-shadow: 2px 2px 1px #f2f2f2;
}

.place a {
    bottom: 20px;
    right: 20px;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    color: #f2f2f2;
    background-color: #d01639;
    text-align: center;
    padding: 10px 20px;
    font-weight: 600;
    font-family: Montserrat;
    letter-spacing: 2px;
}

.place a:hover {
    background-color: #8a0a21;
}

@media only screen and (min-width: 768px) {
    .place {
        float: left;
        width: 46%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media only screen and (min-width: 1024px) {
    .place {
        margin-left: 2%;
        margin-right: 2%;
        width: 29%;
    }
}

/**
 * Block vi sao chon nam thang
==========================================================*/

.why-choose-us {
    padding: 50px 0;
    color: #fff;
    background-image: url('assets/images/parallax-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    margin-bottom: 45px;
}

.title h1 {
    font-weight: 800;
    font-size: 27px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    font-family: Montserrat;
}

.title p {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.reason {
    padding-left: 70px;
    margin-bottom: 30px;
    padding-right: 10px;
    position: relative;
    margin-left: 20px;
    width: 200px;
}

.reason span i {
    position: absolute;
    left: 19px;
    top: 2px;
    font-size: 25px;
    font-weight: 800;
}

.reason h3 {
    font-weight: 600;
}

.reason p {
    font-size: 14px;
    font-weight: 400;
    color: #f2f2f2;
    line-height: 20px;
}

@media only screen and (min-width: 1024px) {

    .why-choose-us > div:first-child {
        flex: 1;
    }

    .why-choose-us > div:last-child {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

/** Customer words
===================================================*/
.customer-words {
    padding: 50px 0;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.customer-words .title {
    margin-bottom: 30px;
}

.customer-words .title h1 {
    color: #d01639;
    font-size: 27px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    font-family: Montserrat;
}

.customer-words .title p {
    color: #333;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
}

.customer-words .word {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.customer-words .avatar {
    text-align: center;
}

.customer-words .avatar img {
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #333;
}

.customer-words .avatar h3 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
    color: #d01639;
    font-weight: 600;
    margin-top: 10px;
}

.customer-words .avatar a {
    font-size: 14px;
    color: #333;
    line-height: 20px;
    margin-bottom: 10px;
}

.customer-words .avatar a:hover {
    color: #d01639;
}

.customer-words .avatar a .fas {
    font-size: 12px;
    color: #333;
}

.customer-words .feedback {
    margin-top: 20px;
    padding: 0 40px;
}

.customer-words .feedback h3 {
    font-size: 20px;
    color: #333;
    font-family: Montserrat;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 10px;
}

.customer-words .feedback p {
    font-size: 16px;
    color: #333;
    line-height: 25px;
    max-height: 100px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
}

.customer-words .feedback a {
    font-size: 14px;
    color: #d01639;
    padding: 10px 20px;
    border: 1px solid #d01639;
    margin-top: 10px;
    display: inline-block;
    letter-spacing: 2px;
}

.customer-words .feedback a:hover {
    background-color: #fc7e95;
    color: #f2f2f2;
}

@media only screen and (min-width: 768px) {
    .customer-words .word {
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .customer-words .word .avatar {
        flex-basis: 40%;
    }

    .customer-words .word .feedback {
        flex-basis: 60%;
        margin-top: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .customer-words {
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .customer-words .title {
        flex: 1;
    }

    .customer-words .words {
        flex: 2;
    }

    .customer-words .word {
        justify-content: flex-start;
    }

    .customer-words .word .avatar {
        flex: 1;
    }

    .customer-words .word .feedback {
        flex: 2;
    }
}

.carousel {
    width: 100vw;
    overflow: hidden;
}

.carousel-view {
    width: 300vw;
    display: flex;
    transform: translateX(0);
    transition: all 0.5s linear;
}

.carousel .carousel-el {
    width: 100vw;
}

@media only screen and (min-width: 1024px) {
    .carousel-view {
        width: 300%;
    }

    .carousel .carousel-el {
        width: 100%;
    }
}

/** Newsletter
================================================*/
.c2a-2 {
    position: relative;
    display: block;
    width: 100%;
    height: 350px;
}

.c2a-2 .video {
    width: 100%;
    height: 350px;
}

.c2a-2 .video > video {
    object-fit: cover;
    width: 100%;
    height: 350px;
}

.c2a-2 form {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 1;
}

.c2a-2 form h2 {
    font-size: 20px;
    font-family: Montserrat;
    color: #f2f2f2;
    text-shadow: 2px 2px 1px #333;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    width: 90%;
    text-align: center;
}

.c2a-2 form div {
    width: 90%;
}

.c2a-2 form input[type="text"],
.c2a-2 form input[type="submit"] {
    background-color: #f2f2f2;
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
    border-radius: 5px;
    border: 0;
    box-sizing: border-box;
    outline: none;
    width: 100%;
}

.c2a-2 form input[type="submit"] {
    background-color: #d01639;
    color: #f2f2f2;
    text-transform: uppercase;
    font-family: Montserrat;
    margin-top: 10px;
    font-size: 14px;
}

.c2a-2 form input[type="submit"]:hover {
    background-color: #8a0a21;
}

@media only screen and (min-width: 768px) {
    .c2a-2 form {
        top: 50px;
        left: 15%;
        width: 70%;
        height: 250px;
    }

    .c2a-2 form h2 {
        font-size: 30px;
        line-height: 50px;
    }

    .c2a-2 form div {
        width: 70%;
    }

    .c2a-2 form input[type="text"],
    .c2a-2 form input[type="submit"] {
        font-size: 18px;
        letter-spacing: 2px;
    }
}

@media only screen and (min-width: 1024px) {
    .c2a-2 form {
        top: 50px;
        left: calc(50% - 350px);
        width: 700px;
        height: 250px;
    }

    .c2a-2 form div {
        width: 60%;
    }
}

/* Main popup
======================================================*/
.homepage-main-popup.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.homepage-main-popup.overlay.showed {
    display: block;
}

.homepage-main-popup .content {
    position: fixed;
    width: 90%;
    height: 400px;
    left: 5%;
    top: calc((100vh - 400px) / 2);
    border-radius: 10px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: tada;
    animation-name: tada;
    box-shadow: 3px 3px 10px #eee;
}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.homepage-main-popup .content  .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: transparent;
    border: 1px solid #d01639;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #d01639;
    font-size: 20px;
    line-height: 40px;
    outline: none;
    cursor: pointer;
}

.homepage-main-popup .content > .close-btn:hover {
    background-color: #8a0a21;
    color: #f2f2f2;
    border-color: #8a0a21;
}

.homepage-main-popup .content a img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.homepage-main-popup .content a .caption {
    position: absolute;
    bottom: 0;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

.homepage-main-popup .content a .caption h3 {
    font-size: 30px;
    font-family: Montserrat;
    color: #f2f2f2;
    text-shadow: 2px 2px 4px #000;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
}

.homepage-main-popup .content a .caption button {
    background-color: #d01639;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    color: #f2f2f2;
    font-size: 20px;
    line-height: 40px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: Montserrat;
    letter-spacing: 2px;
}

.homepage-main-popup .content a .caption button:hover {
    background-color: #8a0a21;
}


@media only screen and (min-width: 768px) {
    .homepage-main-popup .content {
        width: 500px;
        height: 400px;
        left: calc((100% - 500px) / 2);
        top: calc((100vh - 400px) / 2);
    }

    .homepage-main-popup .content a .caption {
        padding: 50px;
    }
}
