.cate-list {
	list-style: none;
}


.cate-delete .fa {
	line-height: 40px;
}

.buttons {
	margin-right: 20px;
}

.cate-name-save-btn {
	float: right;
}

.cate-list li {
	margin-bottom: 20px;
	list-style: none;
	width: 462px;
}

.placeholder {
	border: 1px dashed #009163 !important;
	max-width: 450px;
	border-radius: 10px;
}

.cate-caret {
	display: inline-block;
	float: left;
	width: 20px;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	cursor: pointer;
}

.cate-name {
	display: inline-block;
    padding: 0 10px;
    height: 40px;
    line-height: 41px;
    cursor: move;
    width: 400px;
	float: left;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
}

.cate-delete {
	display: inline-block;
	height: 40px;
	width: 40px;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.form-tables {
	width: 100%;
}

.form-tables td:first-child {
	width: 35%;
}

.form-tables td:last-child {
	width: 65%;
}

.form-tables td:last-child img {
	max-width: 100%;
	max-height: 200px;
}

.form-tables .inputs {
	max-width: 100%;
}

.cate-list ol:before {
	content: ' ';
	display: block;
	width: 100%;
	height: 1px;
	clear: both;
}

.cate-list li > div {
	border: 1px solid #ddd;
	border-radius: 10px;
}

.cate-list ol {
	margin-left: 30px;
	margin-top: 20px;
}

.cate-list li > div > div {
	display: none;
}

.cate-name:focus {
	outline: none;
}

.cate-delete:hover {
	background-color: #d32a00;
	color: #ffffff;
	border-color: #d32a00;
}

.cate-addnew,
.cate-list-wrapper {
	margin-bottom: 30px;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 30px;
}

.cate-addnew h3,
.cate-list-wrapper h3 {
	font-size: 0.9em;
	font-weight: normal;
	color: #515151;
	margin-bottom: 10px;
}

.cate-addnew h3 {
	float: left;
    line-height: 30px;
}
