/*Overview - PANEL
=======================================================*/
.overview-panel {
	text-align: center;
	width: 100%;
}

.status-panel {
	width: calc((100% - 60px) / 4);
	height: 140px;
	margin: 20px 20px 20px 0;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 80px;
	background-position: 90% 10px;
}

.status-panel:nth-child(4) {
	margin-right: 0;
}

.overview-sale-status {
	background-image: url( images/status-sale.svg );
	background-color: #f7ee40;
}

.overview-order-new-status {
	background-image: url( images/status-order.svg );
	background-color: #92fca5;
}

.overview-order-waitting-status {
	background-image: url( images/status-order.svg );
	background-color: #02d140;
}

.overview-order-loading-status {
	background-image: url( images/status-order.svg );
	background-color: #4ca9e8;
}

.overview-order-success-status {
	background-image: url( images/status-order.svg );
	background-color: #008402;
}

.overview-member-status {
	background-image: url( images/status-member.svg );
	background-color: #f28f26;
}

.status-number {
	font-size: 40px;
	font-weight: bold;
	color: #fff;
	float: left;
	margin: 20px 0 10px 25px;
	font-family: 'Times New Roman';
}

.status-title {
	clear: both;
	color: #fff;
	text-align: left;
	margin-left: 25px;
	font-size: 14px;
}

.status-link {
	display: inline-block;
	width: 100%;
	background-color: rgba(0,0,0,.3);
	background-image: url( images/right-arrow.svg );
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: calc(100% - 25px) center;
	height: 30px;
	margin-top: 17px;
	text-align: left;
	padding: 0 25px;
	box-sizing: border-box;
}
.status-link a {
	color: #fff;
	line-height: 30px;
	font-size: 14px;
}

/*Overview - MAILBOX
=====================================================*/
.overview-mailbox {
	width: 100%;
	margin: 50px 0;	
	border: 3px solid #eee;
}

.mailbox-toolbar {
	width: 100%;
	height: 35px;
	background: #eee;
	margin-bottom: 20px;
}

.mailbox-toolbar-item {
	display: inline-block;
}

.mailbox-toolbar-item button {
	border: none;
	padding: 5px;
	background-color: #e22222;
	color: #fff;
	margin-top: 5px;
	margin-right: 20px;
	text-transform: uppercase;
	font-size: 12px;
	cursor: pointer;
}

.mailbox-toolbar-item input {
	margin: 5px 20px 0 20px;
}

.mailbox-list {
	padding: 20px;
	font-size: 14px;
	letter-spacing: 0.5px;
	color: #515151;
}

.mailbox-mail {
	width: 100%;
	margin-bottom: 10px;
	box-shadow: 2px 2px 2px #eee;
	border: 1px solid #eee;
	padding: 10px;
	box-sizing: border-box;
	position: relative;
}

.content {
	display: none;
	margin: 10px;
	padding: 20px;
	border: 1px solid #ddd;
}

.content * {
	line-height: 25px;
}

.mailbox-mail * {
	cursor: pointer;
}

.mail-author {
	font-weight: bold;
	margin-right: 20px;
	font-family: 'courier new';
}

.mail-title {
	margin-right: 20px;
}

.mail-compact {
	color: #cecece;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	width: 320px;
	display: inline-flex;
}

.time {
	float: right;
	margin-top: -10px;
}

.mail-selector {
	margin-right: 10px;
	display: block;
	float: left;
	margin-top: 2px;
}

.new-mail .mail-title{
	font-weight: bold;
}

.mail-important{
	display: inline-block !important;
	width: 15px !important;
	height: 15px !important;
	background-image: url( images/mail-important.svg ) !important;
	background-position: center !important;
	background-size: 15px !important;
	margin-right: 10px !important;
}

.mail-normal {
	background-image: url( images/mail-normal.svg );
	display: inline-block;
	width: 15px;
	height: 15px;
	background-position: center;
	background-size: 15px;
	margin-right: 10px;
}

.mailbox-heading {
	font-size: 16px;
	padding: 10px;
	color: #e22222;
	letter-spacing: 1px;
}

.show {
	display: block !important;
}

.total-row {
	margin: 0;
}

.showing-info {
	line-height: 0 !important;
}

/*Overview - Quickmail
====================================================*/

.overview-quickmail {
	width: 100%;
	border: 3px solid #eee;
}

.quickmail-heading {
	font-size: 16px;
	padding: 10px;
	color: #e22222;
	letter-spacing: 1px;
}

.quickmail-form {
	padding: 20px;
}

.quickmail-field {
	display: block;
	margin-bottom: 10px;
	padding: 7px;
	width: 250px;
}

.quickmail-content {
	width: 450px;
	height: 250px;
	padding: 10px;
	box-sizing: border-box;
	display: block;
	resize: none;
	margin-bottom: 10px;
}

.quickmail-attachment {
	margin-bottom: 30px;
}

.quickmail-field[type=submit] {
	border: none;
	background: #e22222;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	width: 450px;
}