.tourgroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.tourgroup-sidebar > div {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 50px;
}

.tourgroup-sidebar > div h3 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #d01639;
    text-align: center;
}

.tourgroup-sidebar form label {
    margin-bottom: 5px;
    display: block;
}

.filter-textbox,
.filter-button {
    padding: 10px 20px;
    border: 1px solid #d01639;
    background-color: transparent;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin-bottom: 20px;
}

.filter-button {
    background-color: #d01639;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

.filter-button:hover {
    background-color: #8a0a21;
}

.xdsoft_datepicker * {
    font-size: 12px;
}

/*recent viewed*/
.recent-viewed > p {
    margin: 20px 0;
    color: #333;
    text-align: center;
    border-bottom: 1px dashed #888;
    padding-bottom: 20px;
}

.recent-viewed .tour {
    margin-bottom: 30px;
    background-color: #f2f2f2;
}

.recent-viewed .tour .tour-picture {
    position: relative;
    overflow: hidden;
}

.recent-viewed .tour .tour-picture a img {
    width: 100%;
    height: 200px;
    transition: all 0.3s ease-in;
}

.recent-viewed .tour:hover .tour-picture a img {
    transform: scale(1.2);
}

.recent-viewed .tour .tour-picture .tour-date {
    position: absolute;
    bottom: 0;
    padding-top: 81px;
    padding-bottom: 10px;
    background: linear-gradient(to bottom,rgba(0,0,0,.01),#6b6a68);
    width: 100%;
    color: #fff;
}

.recent-viewed .tour .tour-picture .tour-date p {
    font-size: 16px;
    color: #f2f2f2;
    padding-left: 5%;
    padding-right: 5%;
    display: block;
    margin-bottom: 10px;
}

.recent-viewed .tour .tour-picture .tour-date p i {
    width: 20px;
    text-align: center;
    margin-right: 10px;
}

.recent-viewed .tour-meta p {
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    color: #333;
    line-height: 25px;
    height: 50px;
    overflow: hidden;
}

.recent-viewed .tour-meta span:nth-child(2){
    text-decoration: line-through;
    font-size: 16px;
    color: #333;
    margin-left: 20px;
}

.recent-viewed .tour-meta span:nth-child(3){
    float: left;
    color: #d01639;
    font-weight: 500;
    font-size: 20px;
}

.recent-viewed #pager {
    text-align: center;
    width: 100%;
}

.recent-viewed #pager span {
    width: 10px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    border: 2px solid #d01639;
    border-radius: 100%;
    display: inline-block;
    cursor: pointer;
}

.recent-viewed #pager span:not(:last-child) {
    margin-right: 10px;
}

.recent-viewed #pager span.cycle-pager-active {
    background-color: #d01639;
}

/*search list*/
.tourgroup-list .tourgroup-description h1 {
    font-family: 'Montserrat';
    font-size: 20px;
    color: #d01639;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.tourgroup-list .tourgroup-description p {
    font-size: 16px;
    line-height: 25px;
    color: #333;
    font-family: "Roboto";
    margin-bottom: 10px;
}

.tourgroup-list .the-tour {
    background-color: #f2f2f2;
    margin-top: 30px;
    padding-top: 20px;
}

.tourgroup-list .the-tour > h1 a {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    line-height: 30px;
    font-family: "Roboto";
    padding: 0 20px 20px;
    box-sizing: border-box;
    display: block;
}

.tourgroup-list .the-tour > h1 a:hover {
    color: #d01639;
}

.tourgroup-list .the-tour > .tour-rating {
    padding: 0 20px;
}

.tourgroup-list .the-tour > .tour-rating span {
    font-size: 12px;
    float: left;
    line-height: 18px;
    padding: 0;
    margin-right: 10px;
    letter-spacing: 1px;
}

.tourgroup-list .the-tour > .tour-picture {
    border-bottom: 2px dashed #333;
    border-top: 2px dashed #333;
    font-size: 0;
    display: block;
    margin-top: 20px;
    line-height: 0;
}

.tourgroup-list .the-tour > .tour-meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.tourgroup-list .the-tour > .tour-meta .meta-left,
.tourgroup-list .the-tour > .tour-meta .meta-right {
    width: 100%;
    padding: 0 20px;
}

.tourgroup-list .the-tour > .tour-meta p {
    line-height: 40px;
    font-size: 16px;
    color: #333;
}

.tourgroup-list .the-tour > .tour-meta p i {
    font-size: 16px;
    margin-right: 5px;
    width: 20px;
    text-align: center;
}

.tourgroup-list .the-tour > .tour-button {
    margin-top: 20px;
}

.tourgroup-list .the-tour > .tour-button h3 {
    font-size: 14px;
    line-height: 25px;
    color: #333;
    padding: 0 20px;
    margin-bottom: 10px;
}

.tourgroup-list .the-tour > .tour-button h3 img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: text-top;
}

.tourgroup-list .the-tour > .tour-button a {
    font-family: "Montserrat";
    color: #f2f2f2;
    background-color: #d01639;
    width: 100%;
    padding: 10px 0;
    display: block;
    text-align: center;
}

.tourgroup-list .the-tour > .tour-button a:hover {
    background-color: #8a0a21;
}

.tourgroup-pager ul {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.tourgroup-pager li {
    list-style: none;
    margin-right: 10px;
    display: inline-block;
}

.tourgroup-pager li a {
    color: #333;
    border: 1px solid #333;
    padding: 10px;
}

.tourgroup-pager li a:hover,
.tourgroup-pager li.active a {
    color: #f2f2f2;
    background-color: #d01639;
    border-color: #d01639;
}

.tourgroup-pager li:last-child {
    margin-right: 0;
}

@media only screen and (min-width: 768px) {
    .tourgroup {
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    .tourgroup-sidebar {
        margin-bottom: 0;
        flex: 3;
        margin-right: 20px;
    }

    .tourgroup-list {
        flex: 4;
    }

    .tourgroup-list .the-tour > .tour-meta {
        flex-wrap: nowrap;
    }

    .tourgroup-list .the-tour > .tour-meta .meta-left,
    .tourgroup-list .the-tour > .tour-meta .meta-right {
        flex: 1;
        padding: 0;
    }

    .tourgroup-list .the-tour > .tour-meta .meta-left {
        padding-left: 20px;
    }

    .tourgroup-list .the-tour > .tour-meta .meta-right {
        padding-right: 20px;
    }

    .tourgroup-list .the-tour > .tour-meta p {
        font-size: 15px;
        white-space: nowrap;
    }

    .tourgroup-pager ul {
        justify-content: flex-end;
    }
}

@media only screen and (min-width: 1024px) {
    .tourgroup-list {
        flex: 6;
    }

    .tourgroup-list .the-tour > .tour-picture {
        width: 200px;
        float: left;
        margin-left: 20px;
        margin-top: 20px;
    }

    .tourgroup-list .the-tour > .tour-meta .meta-left {
        padding-left: 5px;
    }

    .tourgroup-list .the-tour > .tour-button {
        clear: both;
        margin-top: 30px;
    }

    .tourgroup-list .the-tour > .tour-button h3 {
        margin-bottom: 0;
    }

    .tourgroup-list .the-tour > .tour-button h3:last-of-type {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 1336px) {
    .tourgroup-sidebar {
        flex: 2.5;
        margin-right: 50px;
    }

    .tourgroup-list .the-tour > .tour-picture {
        width: 300px;
    }

    .tourgroup-list .the-tour > .tour-meta .meta-left {
        padding-left: 20px;
    }

    .tourgroup-list .the-tour > .tour-button {
        clear: none;
    }

    .tourgroup-list .the-tour > .tour-button h3 {
        margin-left: 320px;
    }

    .tourgroup-list .the-tour > .tour-button a {
        margin-top: 20px;
    }
}
