html {
  box-sizing: border-box;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

body {
  padding: 20px;
  max-width: 300px;
  margin: 50px auto;
  font-family: Roboto, sans-serif;
  background-color: #f2f2f2;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
    text-align: center;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 14px;
  outline: none;
  border: 1px solid #ddd;
}

input[type="submit"] {
  background: #d01639;
  border: none;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

input[type="submit"]:hover {
    background: #8a0a21;
}

.message {
  background: blanchedalmond;
  padding: 8px 10px;
  margin-bottom: 30px;
}

a {
    font-size: 12px;
    color: #d01639;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.clearfix {
    clear: both;
}

a:nth-child(1) {
    float: left;
}

a:nth-child(2) {
    float: right;
}
