/*Tour detail*/
.tour-detail-wrapper {
    padding: 0 20px;
    margin-top: 50px;
}

/*breadcrumb*/

.tour-detail-wrapper .breadcrumb {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 30px;
}

.tour-detail-wrapper .breadcrumb a,
.tour-detail-wrapper .breadcrumb i {
    font-size: 14px;
    color: #333;
    line-height: 20px;
}

.tour-detail-wrapper .breadcrumb a:hover {
    color: #d01639;
}

.tour-detail-wrapper .breadcrumb i {
    margin-left: 10px;
}

/*tour-title*/
.tour-detail-wrapper .tour-title {
    margin-bottom: 20px;
}

.tour-detail-wrapper .tour-title h1 {
    font-size: 23px;
    line-height: 30px;
    color: #d01639;
    font-weight: 600;
    font-family: Montserrat;
    margin-bottom: 10px;
}

.tour-detail-wrapper .tour-title p {
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.tour-detail-wrapper .tour-title i {
    font-size: 16px;
    color: #333;
    margin-right: 10px;
}

/*tour-picture*/
.tour-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tour-picture .left {
    position: relative;
}

.tour-picture .cycle-slideshow img {
    width: 100%;
    height: 250px;
}

.tour-picture #pager {
    position: absolute;
    bottom: 20px;
    left: 0;
    text-align: center;
    z-index: 9999;
    width: 100%;
}

.tour-picture #pager span {
    width: 10px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    border: 2px solid #d01639;
    border-radius: 100%;
    display: inline-block;
    cursor: pointer;
}

.tour-picture #pager span:not(:last-child) {
    margin-right: 10px;
}

.tour-picture #pager span.cycle-pager-active {
    background-color: #d01639;
}

.tour-picture .toolbox {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 99999;
}

.tour-picture .toolbox button {
    border: none;
    background-color: #d01639;
    cursor: pointer;
    outline: none;
    color: #f2f2f2;
    padding: 10px 15px;
}

.tour-picture .toolbox button:not(:first-child) {
    margin-left: 10px;
}

/*picture right*/
.tour-picture .right {
    width: 100%;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    padding: 20px 0;
}

.tour-picture .rating,
.tour-picture .counting,
.tour-picture .social,
.tour-picture .info,
.tour-picture .price {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ddd;
    padding-left: 10px;
}

.tour-picture .rating span {
    font-size: 12px;
    float: left;
    line-height: 18px;
    padding: 0;
    margin-right: 10px;
    letter-spacing: 1px;
}

.tour-picture .counting span {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
    margin-right: 20px;
}

.tour-picture .counting span i {
    font-size: 16px;
    line-height: 25px;
}

.tour-picture .info li {
    line-height: 30px;
    font-size: 16px;
    color: #333;
}

.tour-picture .info li i {
    font-size: 15px;
    color: #333;
    width: 30px;
    text-align: center;
    display: inline-block;
}

.tour-picture .price .now-price {
    font-size: 23px;
    line-height: 40px;
    color: #d01639;
    font-weight: 600;
}

.tour-picture .price .old-price {
    font-size: 16px;
    line-height: 30px;
    color: #333;
    text-decoration: line-through;
}

.tour-picture .book {
    text-align: center;
}

.tour-picture .book a {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    color: #f2f2f2;
    background-color: #d01639;
    text-transform: uppercase;
    font-family: Montserrat;
    user-select: none;
    cursor: pointer;
}

.tour-picture .book a.lack-ticket {
    background-color: #333;
    pointer-events: none;
}

.tour-picture .book a:hover {
    background-color: #8a0a21;
}

@media only screen and (min-width: 768px) {
    /*tour-picture*/
    .tour-picture {
        flex-direction: row;
        background-color: #f2f2f2;
        align-items: flex-start;
        margin-bottom: 50px;
    }

    .tour-picture .left {
        margin-right: 20px;
    }

    .tour-picture .right {
        margin-bottom: 0;
    }

    .tour-picture .cycle-slideshow img {
        height: 365px;
    }

    .tour-picture .info li {
        display: inline-block;
        width: 49%;
    }
}

@media only screen and (min-width: 1024px) {
    .tour-picture .left {
        width: 60%;
    }

    .tour-picture .right {
        width: 40%;
    }
}

@media only screen and (min-width: 1366px) {
    .tour-picture {
        height: 500px;
    }

    .tour-picture .left {
        width: 70%;
    }

    .tour-picture .right {
        width: 30%;
    }

    .tour-picture .cycle-slideshow img {
        height: 500px;
    }

    .tour-picture .info li {
        display: block;
    }
}

/*tour content*/
.tour-detail-wrapper .tour-content .tabs ul {
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    background-color: #f2f2f2;
    width: 100%;
    box-sizing: border-box;
}

.tour-content .tabs ul li {
    color: #333;
    font-size: 16px;
    text-transform: uppercase;
    flex-shrink: 0;
    display: block;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    user-select: none;
    padding: 0 20px;
}

.tour-content .tabs ul li:hover,
.tour-content .tabs ul li.active {
    background-color: #d01639;
    color: #f2f2f2;
}

.tour-content .tabs ul li:not(:last-child) {
    border-right: 1px solid #ddd;
}

.tour-content .tabs ul li i {
    font-size: 16px;
    margin-right: 10px;
}

.tour-content > .content {
    border: 2px solid #f2f2f2;
    padding: 20px 10px;
}

.tour-content > .content *:not(i) {
    font-size: 16px;
    line-height: 30px;
    color: #333;
    font-family: Roboto;
    box-sizing: border-box;
}

/*program*/

.tour-content > .content > .program .compact {
    margin-bottom: 20px;
}

.tour-content > .content > .program .compact h3 {
    font-weight: 600;
    text-transform: uppercase;
    color: #d01639;
    font-size: 20px;
}

.tour-content > .content > .program .compact p {
    text-align: justify;
    word-break: break-word;
    display: list-item;
    margin-left: 30px;
    list-style: circle;
}

.tour-content > .content > .program .timetable .item {
    margin-bottom: 20px;
}

.tour-content > .content > .program .timetable .item .date {
    background-color: #f2f2f2;
    padding: 5px 20px;
}

.tour-content > .content > .program .timetable .item .date .number {
    font-size: 30px;
    color: #d01639;
    font-family: Montserrat;
    letter-spacing: 2px;
    line-height: 60px;
    margin-right: 10px;
}

.tour-content > .content > .program .timetable .item .date .datetime {
    font-weight: 600;
    font-size: 20px;
}

.tour-content > .content > .program .timetable .item .activity .place,
.tour-content > .content > .program .places .title {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #d01639;
    font-size: 20px;
    line-height: 35px;
}

.tour-content > .content > .program .timetable .item .activity p {
    padding-left: 10px;
    padding-right: 10px;
}

.tour-content > .content > .program .places .place-wrapper {
    padding: 0 20px;
}

.tour-content > .content > .program .places .place-wrapper .place {
    position: relative;
    margin-bottom: 20px;
}

.tour-content > .content > .program .places .place-wrapper .place img {
    width: 100%;
    height: 200px;
    display: block;
}

.tour-content > .content > .program .places .place-wrapper .place .name {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.6);
    color: #f2f2f2;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    left: 0;
    bottom: 0;
    padding: 10px 20px;
}


/*detail*/
.tour-content > .content > .detail .item .title {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #d01639;
    font-size: 20px;
    line-height: 35px;
}

.tour-content > .content > .detail .item .title i {
    font-size: 25px;
    margin-right: 10px;
}

.tour-content > .content > .detail .item .wrapper > p,
.tour-content > .content > .detail .item .wrapper > div {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.tour-content > .content > .detail .item .wrapper p b {
    font-weight: 600;
}

.tour-content > .content > .detail .item .wrapper > p span,
.tour-content > .content > .detail .item .wrapper > div > p {
    display: list-item;
    list-style: circle;
    margin-left: 30px;
}

.tour-content > .content > .detail .item .wrapper div h3 {
    font-weight: 600;
    text-transform: uppercase;
}

/*Service*/
.tour-content > .content > .service li {
    display: block;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.tour-content > .content > .service li i {
    margin-right: 10px;
    color: green;
}

/*Warning*/
.tour-content > .content > .warning {
    padding-left: 10px;
    padding-right: 10px;
}


.tour-content > .content > .warning p {
    line-height: 25px;
    margin-bottom: 10px;
}

.tour-content > .content > .warning li {
    list-style: circle;
    margin-left: 30px;
}

.tour-content > .content > .warning img {
    max-width: 100%;
    max-height: 300px;
}

.tour-content > .content > .warning h1,
.tour-content > .content > .warning h2,
.tour-content > .content > .warning h3,
.tour-content > .content > .warning h4,
.tour-content > .content > .warning h5,
.tour-content > .content > .warning h6 {
    font-weight: 600;
    color: #d01639;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 20px;
}

/*Feedback*/
.tour-content > .content > .feedback > h3 {
    font-size: 16px;
    text-transform: uppercase;
    margin: 20px 0;
    color: #d01639;
}

.tour-content > .content > .feedback .comment-now .alert p {
    background-color: #f2f2f2;
    padding: 5px 20px;
    border-radius: 5px;
}

.tour-content > .content > .feedback .comment-now .alert p a {
    color: #d01639;
    border: 1px solid #d01639;
    border-radius: 3px;
    padding: 3px 5px;
    text-transform: uppercase;
    font-size: 14px;
}

.tour-content > .content > .feedback .comment-now .rating-box {
    margin-top: 20px;
}

.tour-content > .content > .feedback .comment-now .rating-box > span {
    margin-bottom: 10px;
    display: inline-block;
}

.tour-content > .content > .feedback .comment-now .rating-box > .star {
    transform: scale(2);
    margin-left: 50px;
    margin-bottom: 30px;
    display: block;
}

.tour-content > .content > .feedback .comment-now .cmt-form textarea,
.tour-content > .content > .feedback .comment-now .cmt-form input {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #d01639;
    border-radius: 5px;
    outline: none;
    resize: none;
}

.tour-content > .content > .feedback .comment-now .cmt-form input {
    padding: 5px 10px;
    background-color: #d01639;
    width: auto;
    color: #f2f2f2;
    font-weight: 600;
    cursor: pointer;
    float: right;
}

.tour-content > .content > .feedback .comment-now .cmt-list {
    margin-top: 30px;
    border-top: 3px dashed #888;
    padding-top: 30px;
}

.tour-content > .content > .feedback .comment-now .cmt-list .the-cmt {
    margin-bottom: 30px;
    clear: both;
}

.tour-content > .content > .feedback .comment-now .cmt-list .the-cmt .avatar {
    float: left;
    margin-right: 10px;
}

.tour-content > .content > .feedback .comment-now .cmt-list .the-cmt .avatar img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2px solid #888;
}

.tour-content > .content > .feedback .comment-now .cmt-list .the-cmt .content {
    float: left;
    width: calc(100% - 70px);
}

.tour-content > .content > .feedback .comment-now .cmt-list .the-cmt .content p a {
    color: #d06139;
    font-weight: 600;
    margin-right: 5px;
    line-height: 30px;
}

.tour-content > .content > .feedback .comment-now .cmt-list .the-cmt .content p span {
    color: #888;
    font-size: 14px;
    font-style: italic;
    line-height: 30px;
}

/*Hide all tab content, default display first tab*/
.tour-content > .content > div {
    display: none;
}

.tour-content > .content > div.active {
    display: block;
}

@media only screen and (min-width: 768px) {
    .tour-content > .content > .program .places .place-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tour-content > .content > .program .places .place-wrapper .place {
        margin-right: 20px;
        width: 30%;
    }
}

@media only screen and (min-width: 1024px) {
    .tour-detail-wrapper .tour-content .tabs ul {
        overflow: hidden;
    }
}


@media only screen and (min-width: 1366px) {

    .tour-content > .content > .program .places .place-wrapper {
        justify-content: flex-start;
    }

    .tour-content > .content > .program .places .place-wrapper .place {
        width: 20%;
    }
}
