.homesearch {
    position: relative;
    min-height: 275px;
    background-color: #f2f2f2;
}

.homesearch .search-blocks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: -50px;
    left: calc(50% - 160px);
    width: 320px;
}

.homesearch .search-blocks .block {
    width: 90px;
    height: 90px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
}

.homesearch .search-blocks .block:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 80px;
    height: 80px;
    border: 1px solid #fff;
}

.homesearch .search-blocks .block:nth-child(3n) {
    margin-right: 0;
}

.homesearch .search-blocks .block img {
    width: 40px;
    display: block;
    margin-bottom: 10px;
}

.homesearch .search-blocks .block span {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.homesearch .search-blocks .block:nth-child(1) {
    background-color: #77bf47;
}

.homesearch .search-blocks .block:nth-child(2) {
    background-color: #bf9147;
}

.homesearch .search-blocks .block:nth-child(3) {
    background-color: #bf4747;
}

.homesearch .search-blocks .block:nth-child(4) {
    background-color: #47a1bf;
}

.homesearch .search-blocks .block:nth-child(5) {
    background-color: #9947bf;
}

.homesearch .search-blocks .block:nth-child(6) {
    background-color: #bf477d;
}

.homesearch .search-blocks .block:nth-child(7) {
    background-color: #47bfab;
}

.homesearch .search-blocks .block:nth-child(8) {
    background-color: #de268b;
}

.homesearch .search-blocks .block:nth-child(9) {
    background-color: #e3dc19;
}

@media only screen and (min-width: 768px) {
    .homesearch {
        min-height: 180px;
    }

    .homesearch .search-blocks {
        left: 0;
        width: 100%;
    }

    .homesearch .search-blocks .block:nth-child(3n) {
        margin-right: 10px;
    }

    .homesearch .search-blocks .block:nth-child(7n) {
        margin-right: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .homesearch {
        min-height: 85px;
    }

    .homesearch .search-blocks .block {
        margin-bottom: 0;
        cursor: pointer;
        user-select: none;
    }

    .homesearch .search-blocks .block:hover img {
        animation: shake 5s cubic-bezier(.36,.07,.19,.97) infinite;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }

    .homesearch .search-blocks .block:nth-child(7n) {
        margin-right: 10px;
    }

    .homesearch .search-blocks .block:nth-child(9n) {
        margin-right: 0;
    }
}

/* Popup */
.popup-homesearch-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}

.popup-homesearch-overlay.opened {
    display: block;
}

.popup-homesearch-close {
    background-color: #fff;
    float: right;
    border: none;
    padding: 20px;
    margin-right: calc((100% - 280px) / 2);
    margin-top: 5vh;
    cursor: pointer;
    color: #333;
    display: block;
    outline: none;
}

.popup-homesearch {
    background-color: #fff;
    width: 280px;
    min-height: 40vh;
    display: none;
    clear: both;
    float: right;
    margin-right: calc((100% - 280px) / 2);
    padding: 20px;
    box-sizing: border-box;
}

.popup-homesearch.opened {
    display: block;
}

.popup-homesearch h3 {
    color: #d01639;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}

/* Form els */
.popup-homesearch-textbox,
.popup-homesearch-button {
    padding: 10px 20px;
    border: 1px solid #d01639;
    background-color: transparent;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin-bottom: 20px;
}

.popup-homesearch-button {
    background-color: #d01639;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}

.popup-homesearch-button:hover {
    background-color: #8a0a21;
}

.xdsoft_datepicker * {
    font-size: 12px;
}
