td:nth-child(1) {
	width: 5%;
	white-space: nowrap;
}

td:nth-child(1),
td:nth-child(2),
td:nth-child(7) {
	text-align: center;
}

td:nth-child(3) {
	text-align: left;
}

td:nth-child(4),
td:nth-child(5),
td:nth-child(6) {
	text-align: right;
}

.buttons {
	margin-right: 20px;
}

.mini-buttons {
	margin-right: 5px;
}

.product-name2 {
	cursor: pointer;
	color: #08AFDD;
}

.product-name2:hover {
	text-decoration: underline;
}

.product-search-textbox {
	margin-right: 20px;
	width: 300px;
}

.mini-buttons:last-child {
	margin-right: 0;
}

.product-image {
	width: 80px;
	height: 80px;
}

.amount {
	padding: 7px;
	border-radius: 3px;
	color: #fff;
}

.low {
	background-color: #d32a00;
}

.high {
	background-color: #009163;
}

.module-addnew-btn,
.module-filter-btn {
	float: right;
}

.cate-selected, .customer-selected {
	margin: 10px 0;
	border: 1px solid #dddddd;
	padding: 20px;
	border-radius: 10px;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.cate-selected span,
.customer-selected span {
	padding: 10px;
	background-color: #f2f2f2;
	margin: 0 10px 10px 0;
	display: block;
	float: left;
	border-radius: 5px;
	color: #515151;
	font-size: 14px;
}

.cate-selected span i,
.customer-selected span i {
	cursor: pointer;
	color: #e62e04;
}

td .inputs {
	width: 100%;
	box-sizing: border-box;
}

.tab2-tbl td:first-child{
	width: 40%;
}

.radios + label {
	margin-left: 10px;
}

.tbl7 td:first-child {
	width: 50%;
}

.tbl7 td:last-child {
	width: 50%;
}

.tbl7 td:last-child p {
	display: inline;
	float: left;
}

.tbl6 td:first-child {
	width: 50%;
}

.preview-el {
	max-width: 250px;
    max-height: 150px;
    margin: 10px 10px;
    float: left;
    position: relative;
    border: 1px solid #ddd;
	border-radius: 10px;
}

.preview-el img {
	max-width: 100%;
	max-height: 150px;
	border-radius: 10px;
}

.preview-el span {
	background-color: #d32a00;
	color: #f2f2f2;
	width: 25px;
	height: 25px;
	opacity: 0.7;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 100%;
	font-size: 13px;
	display: none;
}

.preview-el:hover span {
	display: inline-block;
}

.preview-el span:hover {
	opacity: 1;
}


/*Product tags*/
.product-tag-wrapper {
	position: relative;
}

.product-tag-wrapper div {
	position: absolute;
	top: 3px;
	left: 5px;
	background-color: #ffffff;
	float: left;
}

.product-tag-wrapper span {
	display: block;
	padding: 5px 7px;
	float: left;
	margin-right: 5px;
	border-radius: 5px;
	background-color: #ddd;
	box-sizing: border-box;
	font-size: 12px;
	cursor: pointer;
}

.product-tag-wrapper span:hover {
	background-color: #eee;
}

.product-tag-wrapper span:last-child {
	margin-right: 0;
}

