.sitemap ul {
    margin-left: 30px;
}

.sitemap li {
    clear: both;
}

.sitemap a {
    color: #333;
    font-size: 14px;
    line-height: 30px;
}

.sitemap a b {
    font-size: 18px;
    color: #d01639;
    margin-right: 10px;
    float: left;
}

.sitemap > li > ul > li,
.sitemap > li > ul > li > ul > li {
    border-left: 1px dotted #d01639;
    margin-top: 20px;
    padding-left: 30px;
    position: relative;
}

.sitemap > li > ul > li:before,
.sitemap > li > ul > li > ul > li:before {
    content: '';
    width: 20px;
    height: 1px;
    display: block;
    position: absolute;
    top: 13px;
    left: 0;
    background-color: #d01639;
}
