.faq {
    font-family: "Roboto", sans-serif;
    width: 90%;
}

.faq .arrow {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    float: right;
}

.faq .arrow-up {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #333;
}

.faq .arrow-down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #333;
}

.faq .faq-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.24);
}

.faq .faq-menu li {
    background-color: #f2f2f2;
    padding: 14px;
    font-size: 14px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.faq .faq-menu li:first-of-type {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.faq .faq-menu li:last-of-type {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-bottom: none;
}

.faq .faq-menu li.selected {
    background-color: #d01639;
    color: white;
}

.faq .faq-content {
    margin-top: 20px;
    font-size: 15px;
}

.faq .faq-content .faq-item-header {
    font-size: 15px;
    cursor: pointer;
    margin-left: 3px;
    font-weight: 600;
}

.faq .faq-content .faq-item-content {
    margin-top: 11px;
    padding: 3px;
    font-size: 15px;
    line-height: 25px;
}

.faq .faq-content section>div:last-of-type {
    display: none;
}

.faq .faq-content section.visible>div:last-of-type {
    display: block;
}

.faq .faq-content>section {
    margin: 10px 0;
    padding: 9px;
    border-radius: 5px;
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.24);
}

.faq .faq-content>section:first-of-type {
    margin-top: 0;
}

@media only screen and (min-width: 768px) {
    .faq .faq-menu {
        width: 30%;
        float: left;
        margin-right: 2%;
    }

    .faq .faq-content {
        width: 68%;
        float: right;
        font-size: 15px;
    }

    .faq .faq-content {
        margin-top: 0;
    }
}
