.module-addnew-btn {
	float: right;
}

.print {
	margin: 0 5px;
}

.section-title {
	font-size: 16px;
	background: -moz-linear-gradient(left,  rgba(221,221,221,1) 0%, rgba(242,242,242,0.44) 100%);
	background: -webkit-linear-gradient(left,  rgba(221,221,221,1) 0%,rgba(242,242,242,0.44) 100%);
	background: linear-gradient(to right,  rgba(221,221,221,1) 0%,rgba(242,242,242,0.44) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#70f2f2f2',GradientType=1 );
	padding: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.controller {
	background: -moz-linear-gradient(left,  rgba(201,116,194,1) 0%, rgba(242,242,242,0.95) 100%);
	background: -webkit-linear-gradient(left,  rgba(201,116,194,1) 0%,rgba(242,242,242,0.95) 100%);
	background: linear-gradient(to right,  rgba(201,116,194,1) 0%,rgba(242,242,242,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c974c2', endColorstr='#f2f2f2f2',GradientType=1 );
	color: #f2f2f2;
}

.order-box {
	width: 45%;
	float: left;
	border: 1px solid #ddd;
	border-radius: 10px;
	margin-right: 5%;
	margin-bottom: 30px;
}

.box-special {
	width: 100%;
}

.product-table td:last-child {
	text-align: right;
}

.product-table img {
	width: 100px;
	height: auto;
}

.product-table tr:last-child {
	font-weight: 700;
}

.form-tables {
	width: 100%;
}

.form-tables td:first-child {
	width: 150px;
}

.state-label {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

span[class ^= state ] {
	padding: 6px 10px;
	font-size: 10px;
	color: #ffffff;
	text-transform: uppercase;
	display: inline-block;
	height: 26px;
	line-height: 14px;
}

.state1 {
	background-color: #92fca5;
}

.state2 {
	background-color: #02d140;
}

.state3 {
	background-color: #4ca9e8;
}

.state4 {
	background-color: #008402;
}

.state5 {
	background-color: #888888;
	pointer-events: none;
}

.state6 {
	background-color: #eabf69;
}

.change-state {
	display: none;
	padding: 4px;
	border: 1px solid #ddd;
	font-size: 12px;
}

.change-state:focus {
	outline: none;
}

.congrates {
	font-size: 14px;
    color: #2d8400;
    font-weight: bold;
    padding: 10px;
}

.tooltip {
	position: absolute;
	background-color: #515151;
	color: #f2f2f2;
	font-size: 12px;
	padding: 4px 10px;
	bottom: 3px;
	right: 15px;
	border-radius: 5px;
	display: none;
}

.print-preview{position: fixed;background-color: #fff;top: 100px;z-index: 999; height: 400px; overflow: auto; padding: 35px; display: none;}
.print-preview span.buttons{float: right; margin-top: 30px;}

/* Overlay
=============================================*/
.print-preview-wrapper {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #000;
	top: 0;
	left: 0;
	z-index: 1;
	opacity: 0.7;
	display: none;
}