.state-label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	pointer-events: none;
}

.order-detail-link:hover {
	text-decoration: underline;
}

.need-now {
	color: #e62e04;
	font-weight: 700;
}

span[class ^= state ] {
	padding: 6px 10px;
	font-size: 10px;
	color: #ffffff;
	text-transform: uppercase;
}
.state1 {
	background-color: #92fca5;
}

.state2 {
	background-color: #02d140;
}

.state3 {
	background-color: #4ca9e8;
}

.state4 {
	background-color: #008402;
}

.state5 {
	background-color: #888888;
}

.module-addnew-btn {
	float: right;
}

.order-search-textbox {
	margin-right: 20px;
	width: 300px;
}

.buttons {
	margin-right: 20px;
}

.sale-selected,
.customer-selected {
	margin: 10px 0;
	border: 1px solid #dddddd;
	padding: 20px;
	border-radius: 10px;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.sale-selected span,
.customer-selected span {
	padding: 10px;
	background-color: #f2f2f2;
	margin: 0 10px 10px 0;
	display: block;
	float: left;
	border-radius: 5px;
	color: #515151;
	font-size: 14px;
}

.sale-selected span i,
.customer-selected span i {
	cursor: pointer;
	color: #e62e04;
}

a {
	color: #08afdd;
}


.form-tables {
	clear: both;
}

.label {
    line-height: 18px;
    margin-left: 5px;
}

.radios + label {
	margin-left: 30px;
	margin-bottom: -3px;
}

.label + input {
	width: 150px !important;
	margin-right: 20px;
}

.selects {
	width: 200px;
    margin-left: 30px;
}

.currency-inputs {
	width: initial !important;
}