* {
    box-sizing: border-box;
}

.contact-info {
    width: 100%;
    max-width: 300px;
    margin: 50px auto;
}

.contact-info p {
    font-size: 15px;
    font-family: Roboto;
    letter-spacing: 1px;
    line-height: 25px;
    margin-bottom: 20px;
    color: #333;
}

.contact-info p:first-child b {
    font-weight: 600;
}

.contact-info p i {
    font-size: 16px;
    color: #d01639;
    margin-right: 5px;
}

.contact-info p b {
    font-size: 16px;
    font-weight: 600;
}

.contact-info p a {
    font-size: 16px;
    margin-left: 30px;
    color: #333;
    line-height: 30px;
    display: block;
}

.contact-form {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
    display: block;
    width: 100%;
    padding: 8px 20px;
    border: 1px solid #d01639;
    outline: none;
    margin-bottom: 20px;
    margin-top: 5px;
    background-color: transparent;
}

.contact-form textarea {
    min-height: 200px;
    resize: vertical;
}

.contact-form .selectbox .selectbox-options {
    top: 46px;
}

.contact-form .g-recaptcha {
    width: 100% !important;
    border-radius: 4px;
    border-right: 1px solid #d3d3d3;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 5px;
}

.contact-form input[type="submit"] {
    background-color: #d01639;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #8a0a21;
}

@media only screen and (min-width: 678px) {
    .contact-info {
        width: 400px;
        max-width: 400px;
        float: left;
        margin: 50px 0;
        margin-left: calc(50% - 350px);
        padding-right: 30px;
    }

    .contact-form {
        width: 300px;
        max-width: 300px;
        margin: 50px 0;
        float: right;
        margin-right: calc(50% - 350px);
    }
}
