.account-menu *:not(i),
.account-content *:not(i) {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

.account-menu {
    background-color: #f2f2f2;
    margin-bottom: 50px;
}

.account-menu li {
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid #ddd;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    cursor: pointer;
    user-select: none;
}

.account-menu li.active {
    background-color: #d01639;
    color: #f2f2f2;
}

/*profile*/

.account-content > div {
    display: none;
}

.account-content > div.active {
    display: block;
}

.account-content > div > div > h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 50px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.account-content > div > div > form label {
    margin-bottom: 5px;
    display: block;
}

.account-content > div > div > form input,
.account-content > div > div > form select {
    display: block;
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin-bottom: 20px;
    width: 100%;
    outline: none;
    background-color: transparent;
}

.account-content > div > div > form input:focus,
.account-content > div > div > form select:focus {
    border: 1px solid #d01639;
}

.account-content > div > div > form input[type="submit"] {
    background-color: #d01639;
    color: #f2f2f2;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
}

.account-content > div > div > form input[type="submit"]:hover {
    background-color: #8a0a21;
}

/*payment history*/
.account-content > div > div .table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.account-content > div > div table {
    border-spacing: 0;
    border-collapse: collapse;
}

.account-content > div > div table th {
    white-space: nowrap;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}

.account-content > div > div table td {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.loadmore {
    background-color: #d01639;
    color: #f2f2f2;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-weight: 600;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.loadmore:hover {
    background-color: #8a0a21;
}

/*wishlist*/
.wish-item .picture {
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.wish-item .picture img {
    width: 100%;
    height: 200px;
}

.wish-item .picture .title {
    position: absolute;
    background: linear-gradient(to bottom,rgba(0,0,0,.01),#6b6a68);
    bottom: 0;
    left: 0;
    padding: 10px 20px;
}

.wish-item .picture .title p {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

/*award*/
.tip {
    border: 1px solid #f2f2f2;
    padding: 10px;
}

.tip p:first-child {
    background-color: #f2f2f2;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 20px;
    color: #d01639;
    margin-bottom: 20px;
    cursor: pointer;
}

.tip p:first-child i {
    margin-right: 10px;
    animation: shake 5s cubic-bezier(.36,.07,.19,.97) infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.tip p:not(:first-child) {
    line-height: 25px;
    font-size: 16px;
    display: list-item;
    list-style: square;
    margin-left: 30px;
    margin-bottom: 10px;
}

.tip ul li {
    list-style: circle;
    margin-left: 60px;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 10px;
}

.point {
    background: #f2f2f2;
    margin: 50px 0;
    padding: 20px;
    border: 1px solid #d01639;
    text-align: center;
}

.point h1 b {
    color: #d01639;
    font-weight: 600;
    font-size: 25px;
    display: block;
    margin: 20px 0;
}

.point p {
    font-size: 12px;
}

@media only screen and (min-width: 768px) {
    .account-menu {
        width: 40%;
        float: left;
    }

    .account-content {
        width: 55%;
        float: left;
        margin-left: 5%;
    }

    .account-content > div > div:first-child > h3 {
        margin-top: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .account-menu {
        width: 30%;
    }

    .account-content {
        width: 65%;
    }

    .account-content > div > div > form:not(.use-point) input[type="submit"] {
        max-width: 30%;
        margin-left: auto;
        margin-right: auto;
    }

    .wish-item .picture {
        width: 49%;
        float: left;
        margin-right: 2%;
    }

    .wish-item .picture:nth-child(2n) {
        margin-right: 0;
    }

    .loadmore {
        clear: both;
    }

    .point {
        width: 40%;
        float: right;
        margin: 0;
    }

    .use-point {
        width: 55%;
        float: left;
    }

    .tip {
        margin-top: 50px;
    }
}

@media only screen and (min-width: 1366px) {
    .account-menu {
        width: 30%;
    }

    .account-content {
        width: 65%;
    }
}
