td:last-child {
	width: 15%;
}

.buttons {
	margin-right: 20px;
}

.mini-buttons {
	margin-right: 5px;
}

.mini-buttons:last-child {
	margin-right: 0;
}

.module-addnew-btn {
	float: right;
}

.form-tables {
    clear: both;
}