* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
}

html {
    overflow: hidden;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    position: fixed;
    /* prevent overscroll bounce*/
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#main-wrapper {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.clearfix {
    clear: both;
}

.selectbox {
    margin-bottom: 20px;
    position: relative;
}

.selectbox .selectbox-selected {
    background: url('../images/icons/selectbox.svg');
    border: 1px solid #d01639;
    padding: 10px 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center right 20px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: #333;
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.selectbox .selectbox-selected.opened {
    background-image: url('../images/icons/selectbox-opened.svg');
}

.selectbox .selectbox-options {
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    height: 200px;
    overflow-y: auto;
}

.selectbox .selectbox-options.opened {
    opacity: 1;
    visibility: visible;
}

.selectbox .selectbox-option {
    background-color: #d01639;
    color: #f2f2f2;
    padding: 10px 20px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    cursor: pointer;
}

.selectbox .selectbox-option:hover {
    background-color: #8a0a21;
}

.selectbox .selectbox-option:first-child {
    margin-top: 5px;
}

/**
 * HOMEPAGE HEADER
==============================================*/

/* Mobile menu */
.wrapper-mobile-nav {
    background-size: 100% 320px;
    background-position: center top;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 120vh;
    top: 0;
    left: 0;
    transition: all 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    z-index: 3;
}

.wrapper-mobile-nav.js_hidden {
    transform: translateX(-100vw);
}

.wrapper-mobile-nav.js_showed {
    transform: translateX(0);
}

.close-button {
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    color: #f2f2f2;
    font-size: 16px;
    border: 1px solid #f2f2f2;
    background-color: transparent;
    padding: 7px 10px;
    line-height: 20px;
    outline: none;
    border-radius: 3px;
}

.close-button .fas {
    display: block;
}

.c2a-1:before {
    content: ' ';
    display: block;
    min-height: 1px;
    clear: both;
}

.c2a-1 {
    text-align: center;
    padding: 0 5%;
}

.c2a-1 h2 {
    color: #f2f2f2;
    line-height: 38px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 19px;
    height: 110px;
    overflow: hidden;
    text-shadow: 2px 2px 1px #333;
    font-family: Montserrat;
}

.c2a-1 input {
    width: 100%;
    border: none;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

.c2a-1 input[type="text"] {
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
}

.c2a-1 input[type="submit"] {
    background-color: #f2f2f2;
    color: #d01639;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 600;
    font-family: Montserrat;
}

.menu-mobile {
    background-color: #d01639;
    padding: 20px 0;
    overflow: auto;
    height: 50vh;
    box-sizing: border-box;
}

.slidedown {
    margin-top: 15px;
    display: block;
}

.slidedown,
.slidedown-menu li {
    padding: 0 5%;
    list-style: none;
}

.slidedown-menu {
    margin-bottom: 15px;
    display: none;
}

.slidedown > a,
.slidedown > a span,
.slidedown-menu a {
    color: #f2f2f2;
    font-size: 18px;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 0.5px;
    line-height: 30px;
}

.slidedown > a span {
    font-weight: 600;
}

.slidedown-menu > a {
    font-weight: 400;
}

.slidedown > a .fa {
    float: right;
    margin-top: 5px;
}

/* Header topbar */
header {
    background-size: 0, 0, cover;
    background-repeat: no-repeat;
    background-position-y: 40px;
    position: relative;
    width: 100%;
    height: 100vh;
}

.header-topbar {
    height: 45px;
    border-bottom: 1px solid #f2f2f2;
    background-color: #d01639;
}

.header-topbar .language,
.header-topbar .currency {
    width: calc(50% - 0.5px);
    text-align: center;
    float: left;
    background-color: transparent;
    border: none;
    font-size: 12px;
    font-weight: 400;
    color: #f2f2f2;
    line-height: 45px;
    height: 45px;
    text-transform: uppercase;
    cursor: pointer;
}

.header-topbar .language img {
    width: 20px;
    vertical-align: sub;
    margin-right: 5px;
}

.header-topbar .currency {
    border-left: 1px solid #f2f2f2;
}

.popup-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out;
}

.popup {
    position: fixed;
    width: 80%;
    height: 250px;
    left: 10%;
    top: calc((100vh - 250px) / 2);
    background-color: #d01639;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    z-index: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out;
}

.popup-overlay.js_showed,
.popup.js_showed {
    opacity: 1;
    visibility: visible;
}

.popup-change-language li {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #f2f2f2;
    color: #f2f2f2;
    font-size: 16px;
    width: 150px;
    cursor: pointer;
    user-select: none;
}

.popup-change-language li:hover {
    color: #d01639;
    background-color: #f2f2f2;
}

.popup-change-language li:not(:last-child) {
    margin-bottom: 20px;
}

.popup-change-language li img {
    width: 20px;
    margin-right: 5px;
}

.popup-change-currency {
    padding: 50px 20px;
    overflow-y: auto;
    display: block;
}

.popup-change-currency li {
    display: block;
    width: 100%;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid #f2f2f2;
    color: #f2f2f2;
    font-size: 12px;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
    user-select: none;
}

.popup-change-currency li:hover {
    color: #d01639;
    background-color: #f2f2f2;
}

.popup-change-currency li:not(:last-child) {
    margin-bottom: 10px;
}

.popup-change-currency li span {
    font-size: 14px;
    font-weight: 600;
}

@media only screen and (min-width: 768px) {
    .header-topbar .language,
    .header-topbar .currency {
        width: auto;
        font-size: 16px;
        padding: 0 20px;
    }

    .header-topbar .language img {
        width: 25px;
    }

    .popup {
        width: 50%;
        left: 25%;
    }

    .popup-change-currency {
        height: 350px;
        top: calc((100vh - 350px) / 2);
    }

    .popup-change-currency li {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Main menu */
.header-main-wrapper {
    height: 80px;
    padding: 20px 5%;
}

.mobile-menu-toggle {
    float: left;
}

.login-widget {
    float: right;
    position: relative;
    margin-right: 5%;
}

.mobile-menu-toggle span {
    display: block;
    width: 30px;
    height: 5px;
    background-color: #d01639;
    margin-bottom: 5px;
}

.login-widget .fas,
.login-widget a {
    color: #d01639;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
}

.login-widget .badge {
    position: absolute;
    padding: 4px;
    border-radius: 5px;
    background-color: #d01639;
    color: #f2f2f2;
    font-size: 14px;
    font-weight: 600;
    top: -15px;
    right: -14px;
}

.navigation {
    display: none;
}

@media only screen and (min-width: 768px) {
    .mobile-menu-toggle {
        display: none;
    }

    .header-main-wrapper {
        height: 20vh;
        padding: 0;
    }

    .header-main {
        position: relative;
    }

    .login-widget {
        float: none;
        position: absolute;
        top: -30px;
        right: 0;
    }

    .login-widget .fas,
    .login-widget a {
        color: #f2f2f2;
    }

    .login-widget .badge {
        background-color: #f2f2f2;
        color: #d01639;
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: rgba(208, 22, 56,0.8);
        padding: 10px 20px;
        box-sizing: border-box;
    }

    .navigation > .dropdown {
        display: inline-block;
        position: relative;
    }

    .navigation > li {
        margin-left: 20px;
    }

    .navigation > li:first-child {
        margin-left: 0;
    }

    .navigation > li > a span {
        color: #f2f2f2;
        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;
    }

    .navigation > li > a span .fa {
        font-size: 14px;
        vertical-align: middle;
    }

    .navigation > .dropdown:hover .dropdown-menu {
        display: block;
    }

    .navigation .dropdown-menu {
        position: absolute;
        top: 21px;
        left: 0;
        background-color: #ffffff;
        box-shadow: 2px 2px 3px #888;
        padding: 20px;
        min-width: 120px;
        box-sizing: border-box;
        display: none;
        border-radius: 5px;
    }

    .navigation .dropdown-menu a {
        font-size: 14px;
        color: #6f6f6f;
        text-transform: capitalize;
        line-height: 30px;
        white-space: nowrap;
    }

    .navigation .dropdown-menu a:hover {
        color: #d01639;
    }
}

@media only screen and (min-width: 1024px) {
    .navigation > li {
        margin-left: 50px;
    }
}

/* Main banner */
.main-banner {
    height: calc(100vh - 165px);
    text-align: center;
}

.main-banner img {
    width: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border-radius: 60%;
}

.main-banner h1 {
    font-size: 40px;
    color: #f2f2f2;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 20px;
    font-family: Montserrat;
    position: relative;
    background: linear-gradient(to left, #f2f2f2 64%, #d01639 70%, #d01639 77%, #f2f2f2 86%);
    background-size: 200% auto;
    animation: text-swipe 4s linear infinite;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes text-swipe {
    to {
        background-position: -200% center;
    }
}

.main-banner p {
    font-size: 20px;
    text-transform: capitalize;
    color: #f2f2f2;
    line-height: 30px;
    text-shadow: 2px 2px 1px #333;
    font-family: Montserrat;
}

@media only screen and (min-width: 768px) {

    .main-banner img {
        width: 150px;
    }

    .main-banner h1 {
        font-size: 50px;
        line-height: 70px;
    }

    .main-banner p {
        font-size: 30px;
        line-height: 40px;
    }
}

/**
 * HOMEPAGE FOOTER
===============================================*/
.footer-main {
    box-sizing: border-box;
    background-color: #f2f2f2;
    color: #888;
}

.footer-main > * {
    padding: 10px 5%;
}

.footer-main .footer-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333;
}

/* Hotline */
.footer-hotline-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.footer-hotline .hotline-left {
    width: 30px;
    height: auto;
    margin-right: 20px;
}

.footer-hotline .hotline-right a {
    font-size: 25px;
    color: #d01639;
    letter-spacing: 1px;
    line-height: 40px;
    font-weight: 600;
}

.footer-hotline .hotline-right p {
    color: #888;
    font-size: 14px;
}

.footer-hotline .hotline-left img {
    animation: shake 5s cubic-bezier(.36,.07,.19,.97) infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    2%, 18% {
        transform: translate3d(-1px, 0, 0);
    }

    4%, 16% {
        transform: translate3d(2px, 0, 0);
    }

    6%, 10%, 14% {
        transform: translate3d(-4px, 0, 0);
    }

    8%, 12% {
        transform: translate3d(4px, 0, 0);
    }

    100% {
        transform: translate3d(-1px, 0, 0);
    }
}

/* Social */
.footer-social .icon-social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.footer-social .icon-social a .fab {
    font-size: 30px;
    margin-right: 10px;
}

.footer-social .icon-social a .fa-facebook {
    color: #3b5999;
}

.footer-social .icon-social a .fa-youtube {
    color: #cd201f;
}

.footer-social .icon-social a .fa-pinterest {
    color: #bd081c;
}

.footer-social .icon-social a .fa-instagram {
    color: #e4405f;
}

/* Payment accepts */
.footer-payment .icon-payment {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.footer-payment .icon-payment img {
    width: 50px;
    margin-right: 10px;
}

/* Contact */
.footer-contact p,
.footer-contact a,
.footer-contact i {
    font-size: 12px;
    line-height: 25px;
    clear: both;
}

.footer-contact a {
    color: #888;
    margin-left: calc(5% + 20px);
    display: list-item;
    list-style: circle;
}

.footer-contact i {
    margin-right: 5px;
    float: left;
    height: 30px;
}

.footer-contact b {
    font-size: 12px;
    font-weight: 600;
}

.footer-copyright {
    margin-top: 30px;
    background-color: #888;
    color: #f2f2f2;
}

.footer-copyright p {
    font-size: 12px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .footer-hotline,
    .footer-social {
        float: left;
    }

    .footer-payment {
        clear: both;
    }
}

@media only screen and (min-width: 1024px) {
    .footer-contact p:nth-child(6) {
        float: left;
    }

    .footer-contact p:nth-child(7) {
        float: left;
        clear: none;
    }

    .footer-contact a {
        display: inline-block;
        margin-left: 20px;
        clear:
    }
}

/* BACK TO TOP
========================================================*/
#back-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    border-radius: 5px;
    background-color: #d01639;
    color: #f2f2f2;
    cursor: pointer;
    user-select: none;
    padding: 15px 20px;
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}

#back-top:hover {
    background-color: #8a0a21;
}

#back-top.showed {
    opacity: 1;
    visibility: visible;
}

/* Route contents
================================================*/
.route-contents {
    margin: 50px auto;
    width: 90%;
    background-color: #fff;
}

.route-title {
    margin-bottom: 30px;
}

.route-title h1 {
    color: #d01639;
    font-size: 27px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    font-family: Montserrat;
}

.route-title p {
    color: #333;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
}
